events {
  worker_connections  1024;
}

http {
  server { 
    listen ${PORT};

    location /healthcheck {
      return 200 'Success!';
      add_header Content-Type text/plain;
    }

    location /api {
        proxy_ssl_server_name on;
        proxy_pass ${API_HOST};
      }

    location / {
        proxy_ssl_server_name on;
        proxy_pass ${WEB_HOST};
      }
  }
} 